/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/mago.toml export-ignore
/renovate.json export-ignore
/phpunit.xml.dist export-ignore
/test/ export-ignore
/clover.xml export-ignore
